#root {
  display: flex;
  flex: 1;
  background-color: #f3f4f6;
  overflow-y: hidden;
}

h2, h3 {
  margin: 0px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

h3 {
  font-size: 1.0rem;
}

p {
  margin: 0px;
  font-size: 0.8rem;
}

h4, h5 {
  font-weight: normal;
  margin: 0px;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.icone {
  height: 25px;
}

.listaInformazioni {
  display: flex;
  flex-flow: column wrap;
}

.informazioni {
  display: flex;
  align-items: center;
  column-gap: 10px;
}


.parteSinistra {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  row-gap: 1.5rem;
}

.parteDestra {
  flex: 1;
  padding: 2rem;
}

.buttonTop {
  display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
    column-gap: 1rem;
}

.customize {
  display: flex;
  justify-content: space-around;
}


.previewLeft {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(90deg,#0e374e 50%,#fff 50%);
  border-radius: 8px;
    border: 1px solid white;
}

.previewTop {
  height: 5rem;
  width: 5rem;
  background: linear-gradient(180deg,#0e374e 50%,#fff 50%);
  border-radius: 8px;
    border: 1px solid white;
}

.fotoProfilo {
  height: 11rem;
  border-radius: 50%;
  width: 11rem;
}

.sezione2{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 3;
}

.sezione2Top {
  display: flex;
  padding: 2rem;
  flex: 3;
  column-gap: 2rem;
}


.curriculum {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
}

.nomePersona {
  text-align: center;
}

.headerCV {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.dettagliPersonali {
  background-color: #0e374e;
    padding: 36px 16px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 2;
    align-items: center;
}

.dettagliPersonaliTop {
  background-color: #0e374e;
  padding: 36px 0px;
  width: 100%;
  color: white;
  display: flex;
  column-gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.headerInfo {
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
  padding: 1.5rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.infoForm {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: white;
}

.infoForm > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.date {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
  justify-content: space-between;
}

.input {
  display: flex;
  min-width: 45%;
  gap: 9px;
  flex-flow: column wrap;
}

input, textarea {
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
}

.scelteForm{
  display: flex;
  justify-content: space-between;
}

.education {
  display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
    border-radius: 16px;
    padding: 1rem;
}

.education > h2 {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
}

.elencoTitoli {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.elencoTop {
  flex: 1;
}

.corso {
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
    border-radius: 16px;
    padding: 1rem;
    background-color: white;
    cursor: pointer;
}

.cv-container {
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
  height: 28.46cm;
  width: 22cm;
  display: flex;
}

.top {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.openBtn {
  padding: 1rem;
  background-image: url('/open-close.svg');
}

.openBtn.active {
  transform:rotate(180deg)
}

.iconeTop {
  height: 30px;
}

.bottoneTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  row-gap: 0.2rem;
}